/* ---------------------------------------
   Tailwind Base
----------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------------
   Fuente personalizada Hatton
----------------------------------------- */
@font-face {
  font-family: 'Hatton';
  src: url('./assets/fonts/Hatton.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ---------------------------------------
   Estilos Globales
----------------------------------------- */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Hatton', Roboto, "Helvetica Neue", sans-serif;
  background-color: #ebebeb; /* Fondo claro */
  color: #322203;           /* Texto por defecto oscuro */
}

/* ---------------------------------------
   Componentes Personalizados
----------------------------------------- */
@layer components {
  /* Links del navbar */
  .nav-link {
    @apply relative block py-2 px-3 
           text-[#322203] 
           hover:text-black 
           transition;
  }

  .nav-link::after {
    content: '';
    @apply absolute left-0 bottom-0 w-0 h-0.5 
           bg-[#322203] 
           transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }

  /* Link activo */
  .active-link {
    @apply text-[#322203] font-extrabold;
  }
}
